DATABASE_URL="postgresql://postgres:postgres@localhost:5432/demo_fabio?schema=public"
DIRECT_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/demo_fabio?schema=public"
CLIENT_ORIGIN="http://localhost:5173"
PORT=4000
